/** COLORS **/


/*Network Name*/
.x--font-facebook{
    color: #1877F2!important;
}
.x--font-instagram{
    color: #DFC48B !important;
}
.x--font-twitter{
    color: #1CC4F7 !important;
}
.x--font-tiktok{
    color: #1A1A1A !important;
}
.x--font-youtube{
    color: #E3131A !important;
}

.x--font-threads{
    color: #962fbf !important;
}


.x--bg-fill-facebook{
    background-color: #1877F2 !important;
}
.x--bg-fill-instagram{
    background-color: #FFDF9E !important;
}
.x--bg-fill-twitter{
    background-color: #1CC4F7 !important;
}
.x--bg-fill-tiktok{
    background-color: #1A1A1A !important;
}
.x--bg-fill-youtube{
    background-color: #E3131A !important;
}

.x--bg-fill-threads{
    background-color: #962fbf !important;
}


/*Content Type*/
.x--font-photo{
    color: #34bfa3 !important;
}
.x--font-video{
    color: #5867dd !important;
}
.x--font-link{
    color: #36a3f7 !important;
}
.x--font-status{
    color: #ffb822 !important;
}

.x--bg-fill-photo{
    background-color: #34bfa3 !important;
}
.x--bg-fill-video{
    background-color: #5867dd !important;
}
.x--bg-fill-link{
    background-color: #36a3f7 !important;
}
.x--bg-fill-status{
    background-color: #ffb822 !important;
}

/*Reactions*/
.x--font-love{
    color: #1FB18A !important
}
.x--font-haha{
    color: #ffb822!important;
}
.x--font-wow{
    color: #B3B3B3 !important;
}
.x--font-sad{
    color: #A6C4DD!important;

}
.x--font-angry{
    color: #F1434C !important;
}

.x--bg-fill-love{
    background-color: #1FB18A !important;
}
.x--bg-fill-haha{
    background-color: #F2D03E !important;
}
.x--bg-fill-wow{
    background-color: #B3B3B3 !important;
}
.x--bg-fill-sad{
    background-color: #A6C4DD !important;
}
.x--bg-fill-angry{
    background-color: #F1434C !important;
}

/*General Metrics*/
.x--font-like{
    color: #3b5998 !important
}
.x--font-comment{
    color: #8b9dc3 !important;
}
.x--font-subcomment{
    color: #bac5e2 !important;
}
.x--font-share{
    color: #bac5e2 !important;
}

.x--bg-fill-like{
    background-color: #3b5998 !important;
}
.x--bg-fill-comment{
    background-color: #8b9dc3 !important;
}
.x--bg-fill-subcomment{
    background-color: #dfe3ee !important;
}
.x--bg-fill-share{
    background-color: #dfe3ee !important;
}
/*States*/

.x--font-positive{
    color: #34bfa3!important
}
.x--font-negative{
    color: #f4516c !important;
}
.x--font-remove{
    color: #ec8264 !important;
}


.x--bg-fill-positive{
    background-color: #34bfa3 !important;
}
.x--bg-fill-negative{
    background-color: #f4516c !important;
}

.x--bg-fill-remove{
    background-color: #ec8264 !important;
}



/*********************************************/




/*safari*/

.statusbar-overlay{
    background-color: #343434;
}

body{
    background-color: #343434 !important;
}
/*4k*/
@media (min-width: 3840px) {
    .m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item.m-grid__item--fluid{
        max-width: 2560px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-full{
        min-width: 60% !important;
    }
}
@media (min-width: 3281px) AND (max-width: 3840px){
    .m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item.m-grid__item--fluid{
        max-width: 2560px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-full{
        min-width: 70% !important;
    }
}


@media (min-width: 2561px) AND (max-width: 3280px){
    .m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item.m-grid__item--fluid{
        max-width: 2048px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-full{
        min-width: 70% !important;
    }
}

/*2k*/
@media (min-width: 1921px) AND (max-width: 2560px){
    .m-grid.m-grid--ver-desktop.m-grid--desktop>.m-grid__item.m-grid__item--fluid{
        max-width: 1793px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-full {
        min-width: 60% !important;
    }
}


/*TEXT*/

.x-text-overflow{
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
}

/*OWL Carousel*/

.m-widget30 .m-widget_head .m-widget_head-owlcarousel-items .center>.x-mansonry-item{
    background-color: #fff !important;
}

.owl-item.center .m-widget_head-owlcarousel-item{

    opacity: 1 !important; 
 
 }
 .m-widget_head-owlcarousel-item.carousel{
     cursor: pointer !important;
 }
 
 .owl-item .m-widget_head-owlcarousel-item {
     background-color: white !important;
     opacity: 0.8; 
 }
 

.owl-dots{
    margin-top:20px !important;
    margin-bottom: -25px !important;
}


.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto !important;
        touch-action: auto !important;
}

.owl-theme .owl-nav {
    margin-top: -15px !important;
}
/***** CUSTOM COLOR *****/

/*Header*/
@media (min-width: 993px){
    .m-brand.m-brand--skin-light {
        background: #343434;
    }
}

@media (max-width: 992px){
    .m-brand {
        background: #343434;
    }
}

/*item*/
.m-nav-grid .m-nav-grid__row .m-nav-grid__item:hover{
    background: rgba(52,52,52,0.02)
} 

.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text{
    color: #343434 ;
    opacity: 0.6;
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item:hover .m-nav-grid__icon{
    color: #eda374 ;
    opacity: 0.8;
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item:hover .m-nav-grid__text{
    color: #eda374 ;
    opacity: 0.8;
}



/**/


.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon .m-nav__link-icon-wrapper{
    background: white;
    border: 1px solid #ec8264;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon .m-nav__link-icon-wrapper i{
    color: #343434 !important;
    
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon.m-nav__link-icon--active .m-nav__link-icon-wrapper, .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon:hover .m-nav__link-icon-wrapper {
    background: #eda374;
    border: 1px solid #ec8264;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon.m-nav__link-icon--active .m-nav__link-icon-wrapper, .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon:hover .m-nav__link-icon-wrapper i{
    color: white !important;
    
}


.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text{
    color: #eda374 ;
}

.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link .m-menu__link-icon, .m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-icon {
    color: #eda374 ;
}


.m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link .m-menu__link-text, .m-header-menu.m-header-menu--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-text{
    color: #eda374 ;
}

.m-nav .m-nav__item.m-nav__item--active>.m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item.m-nav__item--active>.m-nav__link .m-nav__link-icon, .m-nav .m-nav__item.m-nav__item--active>.m-nav__link .m-nav__link-text, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled)>.m-nav__link .m-nav__link-arrow, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled)>.m-nav__link .m-nav__link-icon, .m-nav .m-nav__item:hover:not(.m-nav__item--disabled)>.m-nav__link .m-nav__link-text{
    color: #eda374;
}


.m-tabs-line.m-tabs-line--nairu a.m-tabs__link.active, .m-tabs-line.m-tabs-line--nairu a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--nairu.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--nairu.nav.nav-tabs .nav-link:hover{
    color: #eda374;
    border-bottom: 1px solid #ec8264;
}
.m-tabs-line.m-tabs-line--nairu a.m-tabs__link.active>i, .m-tabs-line.m-tabs-line--nairu a.m-tabs__link:hover>i, .m-tabs-line.m-tabs-line--nairu.nav.nav-tabs .nav-link.active>i, .m-tabs-line.m-tabs-line--nairu.nav.nav-tabs .nav-link:hover>i{
    color: #eda374;
}



/*aside*/
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-icon{
    color: #eda374 !important;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-text {
    color: #eda374 !important ;
}
@media (min-width: 993px){
.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__link>.m-menu__link-icon {
    color: #eda374 !important;
}
.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link>.m-menu__link-icon, .m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link>.m-menu__link-icon{
    color: #a8a4d6;

}
}

@media (max-width: 992px){
    .m-aside-left-close.m-aside-left-close--skin-light:hover{
        background: #ce516a !important;
    }
    .m-aside-header-menu-mobile-close.m-aside-header-menu-mobile-close--skin-light:hover{
        background: #ce516a !important;
    }
    .m-aside-header-menu-mobile .m-menu__nav>.m-menu__item>.m-menu__link {
        padding: 25px 30px;
        
    }
    .m-aside-header-menu-mobile .m-menu__nav {
        margin-top:5px;
    }
}


.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-text {
    color: #eda374 ;

}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link .m-menu__link-icon{
    color: #eda374 ;
}

/*progress*/
.m--bg-nairu {
    background-color: #343434!important;
}
.progress-bar {
    background-color: #343434;
}
a{
    color: #ec8264;
}
.m--font-nairu{
    color: #343434 !important;
    opacity: 0.75;
}

.m--font-action{
    color: #eda374 !important;
}

/*porlet*/
.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--nairu{
    background: #343434;
    color: #fff;
}

/* carousel */
.owl-carousel .owl-stage-outer{
    margin-top:-5px;
    margin-bottom: -5px;
    background-color: #343434;
}


/*Dropdown menu*/
.dropdown-menu>.dropdown-item.active, .dropdown-menu>li>a.active{
    background-color: #343434 !important;
}


/* btn  action */
.btn-action.dropdown-toggle{
    color: #343434;
}
.btn-action.dropdown-toggle:hover i{
    color: white ;
}

.btn-action {

    color: #eda374;
    background-color: white;
    background-image: none;
    border-color: #ec8264
}

.btn-action:hover {
    color: #fff;
    background-color: #eda374;
    border-color: #ec8264;
}
.btn-action:hover i{
    color: #fff ;
}
.btn-action:hover .x-number-label{
    color: #fff ;
}


.btn-action.action, .btn-action:action {
    box-shadow: 0 0 0 .2rem rgba(237, 163, 116, .5)
}

.btn-action.disabled, .btn-action:disabled {    

    opacity: 0.6;
    color: white !important ;
    background-color: #eda374;
    border-color: #ec8264;

}

.btn-action:not([disabled]):not(.disabled).active, .btn-action:not([disabled]):not(.disabled):active, .show>.btn-action.dropdown-toggle {
    color: #fff;
    background-color: #eda374;
    border-color: #ec8264;
}

.btn-action:not([disabled]):not(.disabled).active:action, .btn-action:not([disabled]):not(.disabled):active:action, .show>.btn-action.dropdown-toggle:action {
    box-shadow: 0 0 0 .2rem rgba(237, 163, 116, .5)
}

.btn-outline-action {
    color: #eda374;
    background-color: transparent;
    background-image: none;
    border-color: #ec8264
}

.btn-outline-action.nonActive {
    color: #eda374;
    background-color: white;
    background-image: none;
    border-color: #ec8264
}

.btn-outline-action:hover {
    color: #fff !important;
    background-color: #eda374;
    border-color: #ec8264;
}

.btn-outline-action.active {
    color: #fff !important;
    background-color: #eda374;
    border-color: #ec8264;
}


.btn-outline-action.action, .btn-outline-action:action {
    box-shadow: 0 0 0 .2rem rgba(237, 163, 116, .5)
}

.btn-outline-action.disabled, .btn-outline-action:disabled {
    color: #eda374;
    background-color: transparent
}

.btn-outline-action:not([disabled]):not(.disabled).active, .btn-outline-action:not([disabled]):not(.disabled):active, .show>.btn-outline-action.dropdown-toggle {
    color: white;
    background-color: #eda374;
    border-color: #ec8264;
    box-shadow: 0 0 0 .2rem rgba(237, 163, 116, .5)
    
}




.btn-action.m-btn--air, .btn-outline-action.m-btn--air, .m-btn--gradient-from-action.m-btn--air {
    -webkit-box-shadow: 0 5px 10px 2px rgba(237, 163, 116, .36)!important;
    -moz-box-shadow: 0 5px 10px 2px rgba(237, 163, 116, .36)!important;
    box-shadow: 0 5px 10px 2px rgba(237, 163, 116, .36)!important
}

.btn.m-btn--label-action{
    color:#ec8264;
}


/* btn nairu*/


.btn-nairu {
    color: #fff;
    background-color: #343434;
    border-color: rgba(52,52,52,0.5)
}

.btn-nairu:hover {
    color: #fff;
    background-color: #343434;
    border-color: rgba(52,52,52,0.5);
    opacity: 0.8;

}

.btn-outline-nairu {
    color: #343434;
    background-color: transparent;
    background-image: none;
    border-color: rgba(52,52,52,0.5);
}

.btn-outline-nairu:hover {
    color: #fff !important;
    background-color: #343434;
    border-color: rgba(52,52,52,0.5);
    opacity: 0.8;
}

.btn-nairu.focus, .btn-nairu:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 52, 52, .5)
}

.btn-nairu.disabled, .btn-nairu:disabled {
    background-color: #343434;
    border-color: #343434;
}

.btn-nairu:not([disabled]):not(.disabled).active, .btn-nairu:not([disabled]):not(.disabled):active, .show>.btn-nairu.dropdown-toggle {
    color: #fff;
    background-color: #343434;
    border-color: #343434;
    opacity: 0.9;
}

.btn-nairu:not([disabled]):not(.disabled).active:focus, .btn-nairu:not([disabled]):not(.disabled):active:focus, .show>.btn-nairu.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 52, 52, .5)
}
.btn-nairu.m-btn--air, .btn-outline-nairu.m-btn--air, .m-btn--gradient-from-nairu.m-btn--air {
    -webkit-box-shadow: 0 5px 10px 2px rgba(52, 52, 52, .36)!important;
    -moz-box-shadow: 0 5px 10px 2px rgba(52, 52, 52, .36)!important;
    box-shadow: 0 5px 10px 2px rgba(52, 52, 52, .36)!important
}

.btn.m-btn--label-nairu{
    color: #343434;
    opacity: 0.9;
}

/*badge*/
.badge-action {
    color: #fff;
    background-color: #eda374;
}

.badge-nairu {
    color: #fff;
    background-color: #343434;
}

.badge-nairu[href]:focus, .badge-nairu[href]:hover {
    color: #fff;
    text-decoration: none;
    background-color: #343434;
    opacity: 0.8;
}

.m-list-badge .m-list-badge__items a.m-list-badge__item:hover {
    color: #fff;
    background-color: #343434;
    opacity: 0.8;
}
.m-list-badge.m-list-badge--light-bg .m-list-badge__items .m-list-badge__item {
    border: 1px solid #DFE1E5;

}

.m-list-badge .m-list-badge__items .m-list-badge__item{
    color: #343434;
}


/*section header*/
.m-subheader__breadcrumbs .m-nav__item .m-nav__link:hover i{
    color: #eda374 !important;

}
.m-subheader__breadcrumbs .m-nav__item .m-nav__link:hover .m-nav__link-text{
    color: #eda374 !important;

}


/*widget 28*/
.m-widget28 .m-widget28__pic{
    background-color: #343434;
}

.m-widget28 .m-widget28__container .m-widget28__nav-items .m-widget28__nav-item>a.active {
    background-color: #202020;
}

/*loader*/


.m-loader.m-loader--brand:before {
    border-top-color: #ec8264
}

/*scroll*/
.m-scroll-top {
    background: #343434;
    opacity: 0.7;
}
.m-scroll-top:hover {
    opacity: 0.6;
    -webkit-box-shadow: 0 2px 2px 2px rgba(52, 52, 52, .36)!important;
    -moz-box-shadow: 0 2px 2px 2px rgba(52, 52, 52, .36)!important;
    box-shadow: 0 2px 2px 2px rgba(52, 52, 52, .36)!important
}
.m-scroll-top:hover>i {
    color: #ec8264;
}





.m-link {
    color: #eda374;
}
.m-link:hover{
    color: #eda374;
    opacity: 0.8;
}
.m-link:hover:after {
    border-bottom: 1px solid #ec8264;
    opacity: .3;
}

/* input */

input:focus {
    outline: none !important;
    border:1px solid #ebedf2ed;
}


input:focus::-webkit-input-placeholder {
    color: #eda374 !important;
}

/* Firefox < 19 */

input:focus:-moz-placeholder {
    color: #eda374 !important;
}

/* Firefox > 19 */

input:focus::-moz-placeholder {
    color: #eda374 !important;
}

/* Internet Explorer 10 */

input:focus:-ms-input-placeholder {
    color: #eda374 !important;
}
input:focus{
    outline: #eda374 !important;
}


/*tag input*/

.ng2-tag-input{
    border-bottom: 1px solid #efefef !important;
}
.ng2-tag-input.ng2-tag-input--focused{
    border-bottom: 1px solid #eda374 !important;
}
tag:not(.readonly):not(.tag--editing):active{
    background: #343434 !important;
}
tag:not(.readonly):not(.tag--editing):focus {
    background: #343434 !important;
}
/* Cursor */

.x-cursor-no-click{
    cursor: default !important;
}

.x-cursor-click{
    cursor: pointer !important;
}







/* left right masonry */
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(215px,1fr));
    grid-auto-rows: 20px;
    margin: 0 1rem;
  }

 .grid .item{
    grid-row-end: span 8;
 } 

 
@media (min-width: 1920px){
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
      }
}

@media (min-width: 1440px){
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
      }
}

@media (max-width: 550px){
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(145px,1fr));
        margin: 0 0.5rem;
      }
}
@media (max-width: 350px){
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(145px,1fr));
        margin: 0 0.5rem;
      }
}


  
/*hightlights*/

.ngx-text-highlight{
    background:yellow !important;
}
 
.small, small {
    font-size: 80%;
    font-weight: 300 !important;
}



/************   COMPONENTS     *******************/

/* GRAPH FILTER */



.x-graph-filter-comp.owl-carousel .owl-stage-outer{
    background-color: white !important;
}
.x-graph-filter-comp .owl-stage-outer{
    height: 60px;
}

.x-graph-filter-comp .owl-stage-outer .owl-stage{
    margin-top: 20px;
}


.x-graph-filter-comp.owl-carousel .owl-nav button.owl-prev {
    font-size: 35px;
    margin-right: 25px;
}
.x-graph-filter-comp.owl-carousel .owl-nav button.owl-next {
    font-size: 35px;

}
