.m-portlet.m-portlet--creative{
    margin-top: 0rem;
    padding-top: 20px
}

/*Menu*/
.m-portlet .m-portlet__head .m-portlet__head-tools .x-dropdown-menu  {
    height: 25px ;
    width: 50px !;
    padding: 0 5px !important;
    position: absolute !important;
    top: 2px !important;
    right: 20px !important;
    z-index: 15;
}
.m-portlet .m-portlet__head .m-portlet__head-tools .x-dropdown-menu  .m-nav__item.active .m-nav__link-icon{
    color: #eda374 !important;
}
.m-portlet .m-portlet__head .m-portlet__head-tools .x-dropdown-menu  .m-nav__item.active .m-nav__link-text{
    color: #eda374 !important;
}
.m-nav .m-nav__section .m-nav__section-text{
    color: #eda374  !important;

}

.dropdown-toggle::after{
    display: none !important
}

.dropdown-toggle:hover i{
    color: #eda374 !important;

}

/*padding*/

@media (min-width: 1920px){
    .m-portlet__body{
        height: 350px !important;
    } 
}

@media (min-width: 1440px){
    .m-portlet__body{
        height: 300px !important;
    } 
}


@media (max-width: 480px){
    .m-portlet.m-portlet--creative{
        margin-top: 0rem;
        padding-top: 5px
    }
    .m-portlet__body{
        height: 250px !important;
        margin-top: -10px !important;
        padding-left:5px !important;
        padding-right:5px !important; 
        margin-bottom: -5px !important;
 
    } 

    .m-portlet.m-portlet--creative .m-portlet__head #x-btn-undo{
        margin-top: 6px !important;
        z-index: 1 !important;
    }

    .m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item {
        top: 10px !important;
        right: 20px !important;
        z-index: 5;
    
    }
}

.m-portlet.m-portlet--fullscreen{
    z-index: 10;
}

#x-id-porlet-chart-label{
    left: -40px;
}

/*Chart-Box*/
.m-portlet__head-tools{
    z-index: 5;
}

.m-portlet__body{
    height: 210px;
    padding-top: 0px !important; 
    padding-bottom: 0px !important; 
    padding-left:20px;
    padding-right:10px;  
} 

.chart-container{
    border: 0px;
    width: 100%;
    height: 100% !important;
    padding: 0;
}


/* Chart */
#x-btn-undo{
    margin-left: -20px;
    margin-right: 10px;
}


.chart-container{
    margin-top: -35px !important;
}

.x-nodata-porlet{
    height: 100px !important;
}


.m-portlet.m-portlet--creative .m-portlet__head #x-btn-undo{
    position: absolute;
    margin-top: -8px; 
    z-index: 1 !important;
}