<!-- begin::Footer -->
<footer class="m-grid__item		m-footer" appunwraptag="">
	<div class="m-container m-container--fluid m-container--full-height m-page__container">
		<div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
			<div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
				<span class="m-footer__copyright">
						 
					<a href="http://nairu.ai" class="m-link">
						NAIRU
					</a>
					©2025 Todos los Derechos Reservados. 
				</span>
			</div>
			<div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
				<ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
					<li class="m-nav__item">
						<a href="http://nairu.ai"  class="m-nav__link">
							<span class="m-nav__link-text">
								Acerca
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a href="https://app.termly.io/document/privacy-policy/b472b102-3129-448f-bd80-36e4c0c25a7b"  class="m-nav__link">
							<span class="m-nav__link-text">
								Politicas de Privacidad
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- end::Footer -->
