
<!-- begin::Page loader -->
 
<!-- splash screen -->
<div #splashScreen class="m-splash-screen">
	<img class="x-img-splash" [src]="'./assets/images/logo/logo.png'" alt="Logo">
	<!--here we will have  progress bar-->
	
		<!--div class="x-intro-wrapper x-intro-bar">
			<div class="x-intro-loader">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div-->


</div>


<!-- begin:: Page -->
<router-outlet></router-outlet> 
<!-- end:: Page -->


<!--




begin::Base Scripts -->             	    
								  
<!--end::Base Scripts -->             

<!--begin::Page Vendors -->        

<!--end::Page Vendors -->                       

<!--begin::Page Snippets -->           

<!--end::Page Snippets -->
