<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-light" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light">
	<!-- BEGIN: Brand -->
	<div class="m-brand  m-brand--skin-light">
		<a routerLink="/home" class="m-brand__logo">
			<img alt="" src="./assets/images/logo/logo.png" />
		</a>
	</div>
	<!-- END: Brand -->
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light"
		data-menu-vertical="true" data-menu-scrollable="true" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
			<!-- Sources -->
			<li data-menu-submenu-toggle="hover"
				class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight"
				routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a href="#" class="m-menu__link m-menu__toggle ">
					<i class="m-menu__link-icon flaticon-list"></i>
					<span class="m-menu__link-text bottom-text-icon bottom-text-icon">
						Fuentes
					</span>
					<span class="m-menu__link-badge" *ngIf="sectionSourcesActivated">
						<span class="m-badge badge-action">
						</span>
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper">
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent " routerLinkActive="m-menu__item--open"
								routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Fuentes
									</span>
								</span>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Top Influenciadores por :
									<b *ngIf="sortSources == 'reach.value'">Alcance</b>
									<b *ngIf="sortSources == 'doc_count'">Cantidad Comentarios</b>
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>

							</li>

							<li class="m-menu__section" *ngIf="sources != undefined">
								<div class="m-btn-group  btn-group" role="group">
									<button class="btn btn-outline-action m-btn btn-sm "
										[ngClass]="{'active': sortSources == 'reach.value'}"
										(click)="sortSources = 'reach.value'" triggers="hover" ngbPopover="Alcance">
										<i class="	la la-globe"></i>
									</button>
									<button class="btn btn-outline-action m-btn btn-sm "
										[ngClass]="{'active': sortSources == 'doc_count'}"
										(click)="sortSources = 'doc_count'" triggers="hover"
										ngbPopover="Cantidad Comentarios">
										<i class="	la la-files-o"></i>

									</button>


								</div>
								<div class="m--margin-top-20">

									<span
										*ngFor="let source of topSourcesFB | orderBy: sortSources : true; let i=index">
										<div class="row m--margin-bottom-5" *ngIf="!source.exclude">
											<div class="col-10 col-xs-8 m--padding-left-20">
												<a class=" btn  btn-action m-btn m-btn--icon btn-sm m-btn--icon-only  x-remove-btn top-sources x--font-remove"
													(click)="addToExcludeTopSource(source.details.hits.hits[0]._source.idOrigin)"
													triggers="hover" ngbPopover=" Excluir Fuente">
													<i class="la la-remove"></i>
												</a>

												<div class="m-list-search">
													<div class="m-list-search__results">


														<a *ngIf="sortSources == 'reach.value'"
															class="m-list-search__result-item"
															popoverTitle="{{source.key }}" triggers="hover"
															ngbPopover=" {{source.totalLikes.value + source.doc_count | shortNumber }} Interacciones  ">
															<span class="m-list-search__result-item-pic">
																<img class="m--img-rounded"
																	src="{{source.info.picture}}" title="">
															</span>
															<label for=""
																class="namefont">{{(source.key.length < 25) ? (source.key) :(source.key | slice:0:25 )+ '...' }}</label>
															<div class="progress x-progress--lg">
																<div class="progress-bar m--bg-nairu" role="progressbar"
																	[ngStyle]="{'width':((source.totalLikes.value + source.doc_count)*(100/(generalMetrics_.totalLikes.value + generalMetrics_.totalComments.value + generalMetrics_.totalSubComments.value))) + '%' }">
																</div>
																<div class="progress-bar x-progress-bar-color-unmark m--font-nairu"
																	role="progressbar"
																	[ngStyle]="{'width':100-((source.totalLikes.value + source.doc_count)*(100/(generalMetrics_.totalLikes.value + generalMetrics_.totalComments.value + generalMetrics_.totalSubComments.value))) + '%' }">
																	{{ (source.totalLikes.value + source.doc_count)/(generalMetrics_.totalLikes.value + generalMetrics_.totalComments.value + generalMetrics_.totalSubComments.value)  | percent:'1.0-2' }}
																</div>
															</div>
														</a>

														<a *ngIf="sortSources == 'doc_count'"
															class="m-list-search__result-item"
															popoverTitle="{{source.key }}" triggers="hover"
															ngbPopover=" {{source.doc_count | shortNumber }} comentarios">
															<span class="m-list-search__result-item-pic">
																<img class="m--img-rounded"
																	src="{{source.info.picture}}" title="">
															</span>
															<label for=""
																class="namefont">{{(source.key.length < 25) ? (source.key) :(source.key | slice:0:25 )+ '...' }}</label>
															<div class="progress x-progress--lg">
																<div class="progress-bar m--bg-nairu" role="progressbar"
																	[ngStyle]="{'width':+(source.doc_count*(100/hits)) + '%' }">
																</div>
																<div class="progress-bar x-progress-bar-color-unmark m--font-nairu"
																	role="progressbar"
																	[ngStyle]="{'width':+(100-source.doc_count*(100/hits)) + '%' }">
																	{{source.doc_count/hits | percent:'1.0-2' }}
																</div>
															</div>
														</a>


													</div>


													<div class="progress x-progress-sources"
														*ngIf="source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value > 100">
														<div class="progress-bar x--bg-fill-love" role="progressbar"
															[ngStyle]="{'width': source.reactionsLove.value+'%'}">
														</div>

														<div class="progress-bar x--bg-fill-haha" role="progressbar"
															[ngStyle]="{'width': source.reactionsHaha.value+'%'}">
														</div>

														<div class="progress-bar x--bg-fill-wow" role="progressbar"
															[ngStyle]="{'width': source.reactionsWow.value+'%'}">
														</div>


														<div class="progress-bar x--bg-fill-sad" role="progressbar"
															[ngStyle]="{'width': source.reactionsSad.value+'%'}">
														</div>


														<div class="progress-bar x--bg-fill-angry" role="progressbar"
															[ngStyle]="{'width': source.reactionsAngry.value+'%'}">
														</div>


													</div>
													<div class="progress x-progress-sources"
														*ngIf="source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value < 100">
														<div class="progress-bar x--bg-fill-love" role="progressbar"
															[ngStyle]="{'width': source.reactionsLove.value*100/(source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value)+'%'}">
														</div>

														<div class="progress-bar x--bg-fill-haha" role="progressbar"
															[ngStyle]="{'width': source.reactionsHaha.value*100/(source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value)+'%'}">
														</div>

														<div class="progress-bar x--bg-fill-wow" role="progressbar"
															[ngStyle]="{'width': source.reactionsWow.value*100/(source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value)+'%'}">
														</div>


														<div class="progress-bar x--bg-fill-sad" role="progressbar"
															[ngStyle]="{'width': source.reactionsSad.value*100/(source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value)+'%'}">
														</div>


														<div class="progress-bar x--bg-fill-angry" role="progressbar"
															[ngStyle]="{'width': source.reactionsAngry.value*100/(source.reactionsLove.value + source.reactionsHaha.value + source.reactionsWow.value+source.reactionsSad.value+source.reactionsAngry.value)+'%'}">
														</div>

													</div>
													<div class="text-center m--margin-top-5 ">
														<a class="m-list-search__result-item m--margin-right-10">
															<span class="m-list-search__result-item-icon">
																<i class="la la-thumbs-o-up m--font-metal"></i>
															</span>
															<span class="m-list-search__result-item-text m--font-metal"
																triggers="hover" ngbPopover="Reacciones">
																{{source.totalLikes.value | shortNumber}}
															</span>
														</a>
														<a class="m-list-search__result-item m--margin-right-10">
															<span class="m-list-search__result-item-icon">
																<i class="la la-comments-o m--font-metal"></i>
															</span>
															<span class="m-list-search__result-item-text m--font-metal"
																triggers="hover" ngbPopover="Comentarios">
																{{source.doc_count | shortNumber }}
															</span>
														</a>
													</div>
												</div>


											</div>
											<div class="col-2 col-xs-4 x-center-checkbox">
												<div class="m-radio-list">

													<label class="m-checkbox x-sources-checkbox">
														<input name="source-top" type="checkbox" value="1"
															(change)="selectSource(source.details.hits.hits[0]._source.idOrigin,$event.target.checked)">
														<span></span>
													</label>


												</div>
											</div>
										</div>
									</span>
								</div>
								<div class="row m--margin-top-5 ">
									<div class="col-12 col-xs-12">
										<p class="mt-2 x-text-center">
											 Restantes

										</p>
										<ng-select class="x-select-checkbox-aside m--margin-bottom-5"
											(add)="onAddMultiselectSource($event)"
											(remove)="onRemoveMultiselectSource($event)" [items]="sourcesListDropdown"
											placeholder="Buscar ..."
											[multiple]="true" [maxSelectedItems]="5" bindLabel="key_short"
											[selectableGroup]="true" [closeOnSelect]="false"
											[(ngModel)]="selectedSourcesMultiselect">
											<ng-template ng-option-tmp let-item="item" let-item$="item$"
												let-index="index">
												<input id="item-{{index}}" class="x-input-ng-select" type="checkbox"
													[ngModel]="item$.selected" />
												<!--a class=" btn  btn-action m-btn m-btn--icon btn-sm m-btn--icon-only  x-remove-btn list-sources x--font-remove" (click)="excludeListSources(index)">											
														<i class="la la-remove"></i>
													</a-->
												{{item.key }} <br>
												<small>{{item.doc_count | shortNumber }}<em> Comentarios</em></small>
											</ng-template>
										</ng-select>
									</div>
								</div>

								<!-- Exclude Sources -->

								<div class="row m--margin-top-5 x-sources-list-exclude"
									*ngIf="currentSourcesExcludeSelection.length>0">
									<div class="col-12 col-xs-12">
										<p class="mt-2 x-text-center">
											 Excluídas

										</p>
										<tag-input [(ngModel)]="currentSourcesExcludeSelection" [displayBy]="'key'" (onRemove)="removeElementExcludeTopSource($event)" ></tag-input>

									</div>
								</div>
								<hr class="m--margin-top-20 m--margin-bottom-15">

								<div class="row">

									<div class="col-10 col-xs-8">
										<label class="mt-2">
											Todos

										</label>
									</div>
									<div class="col-2 col-xs-4">

										<div class="m-radio-list">
											<label class="m-radio x-sources-checkbox">
												<input name="source-total" type="radio" value="0"
													(click)="clearSourcesData('all')"
													[checked]="sourceModeOption == 'all'">
												<span></span>
											</label>
										</div>
									</div>
								</div>

								<div class="row m--margin-top-20">
									<div class="col-12 col-xs-12">

										<button [ngClass]="{'m-loader m-loader--right m-loader--light': firstLoadSidebar}"
											class="btn btn-action m-btn  btn-block" (click)="showSelectedSources()">
											Analizar Fuentes
										</button>
									</div>
								</div>



							</li>


						</ul>
					</div>
				</div>
			</li>
			<!-- Top Posts -->

			<li data-menu-submenu-toggle="hover"
			class="m-menu__item  m-menu__item--submenu  "
				data-redirect="true">

				<a style="opacity: 0.35" (click)="showMessage()" class="m-menu__link m-menu__toggle ">
					<i class="m-menu__link-icon flaticon-layers"></i>
					<span class="m-menu__link-text bottom-text-icon bottom-text-icon">
						Top Posts
					</span>
					<span class="m-menu__link-badge" *ngIf="sectionPostsActivated">
						<span class="m-badge badge-action">
						</span>
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<!-- <div class="m-menu__wrapper">
						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent " routerLinkActive="m-menu__item--open"
								routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Posts
									</span>
								</span>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Más Comentados
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>
							<li class="m-menu__section" *ngIf="topPostsFB != undefined">





								<div class="row m--margin-bottom-20" *ngFor="let post of topPostsFB ; let i=index">
									<div class="col-10 col-xs-8">

										<div class="m-list-search x-posts-list ">
											<div class="m-list-search__results">


												<a class="m-list-search__result-item"
													href="https://www.facebook.com/{{post.key}}" target="_blank"
													triggers="hover"
													popoverTitle="{{post.details.hits.hits[0]._source.origin }}"
													ngbPopover="{{post.info.created_time | timeAgoTimestamp}}">
													<span class="m-list-search__result-item-pic">
														<img class="x-img-post" src="{{post.info.picture }}" #img alt=""
															(error)="img.src = errorImage">
													</span>
													<label for=""
														class="namefont ">{{(post.details.hits.hits[0]._source.origin.length < 19) ? (post.details.hits.hits[0]._source.origin) :(post.details.hits.hits[0]._source.origin | slice:0:19 )+ '...' }}
													</label>
													<p class="x-micro-text"><b>{{post.doc_count | shortNumber}}</b>
														comentarios</p>
													<p class="x-description-text"
														*ngIf="!post.details.hits.hits[0]._source.postMessage.startsWith('https://');">
														{{post.details.hits.hits[0]._source.postMessage | slice:0:67}}...
													</p>
													<p class="x-description-text"
														*ngIf="post.details.hits.hits[0]._source.postMessage.startsWith('https://');">
														Link
													</p>

												</a>

											</div>
										</div>


									</div>
									<div class="col-2 col-xs-4 x-center-checkbox">
										<div class="m-radio-list">
											<label class="m-radio x-sources-checkbox">
												<input name="posts-top" type="radio" value="1"
													(change)="selectTopPost(post.key)"
													[checked]="post.key == currentPostId">
												<span></span>
											</label>
										</div>
									</div>
									<div class="col-12 x-post-small">
										<small class="">
										</small>
									</div>
								</div>
								<hr class="m--margin-top-30 m--margin-bottom-20">

								<div class="row ">

									<div class="col-10 col-xs-8">
										<label class="mt-2">
											Todos

										</label>
									</div>
									<div class="col-2 col-xs-4">

										<div class="m-radio-list">
											<label class="m-radio x-sources-checkbox">
												<input name="posts-top" type="radio" value="0" checked
													(change)="selectTopPost('all')">
												<span></span>
											</label>
										</div>
									</div>
								</div>



							</li>


						</ul>
					</div> -->
				</div>
			</li>
			<!-- Sentiment -->
			<li data-menu-submenu-toggle="hover"
				class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight"
				routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a href="#" class="m-menu__link m-menu__toggle ">
					<i class="m-menu__link-icon flaticon-user-ok"></i>
					<span class="m-menu__link-text bottom-text-icon bottom-text-icon">
						Sentimiento
					</span>
					<span class="m-menu__link-badge" *ngIf="sectionReactionsActivated">
						<span class="m-badge badge-action">
						</span>
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu ">
					<span class="m-menu__arrow"></span>

					<div class="m-menu__wrapper">
						<ul class="m-menu__subnav">

							<li class="m-menu__item  m-menu__item--parent " routerLinkActive="m-menu__item--open"
								routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Sentimiento
									</span>
								</span>
							</li>
							<li class="m-menu__section">
								<h4 class="m-menu__section-text">
									Orden Busqueda
								</h4>
								<i class="m-menu__section-icon flaticon-more-v3"></i>
							</li>


							<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight m--margin-top-30"
								routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
								aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text x-menu--section-text">
										Métricas Generales
									</span>
								</span>
							</li>



							<li class="m-menu__section" *ngIf="generalMetrics_ != undefined">
								<div class="progress ">
									<div placement="bottom" triggers="hover"
										ngbPopover="Reacciones {{generalMetrics_.totalLikes.value/(generalMetrics_.totalLikes.value + generalMetrics_.totalComments.value ) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-like" role="progressbar"
										[ngStyle]="{'width': generalMetrics_.totalLikes.value+'%'}">
									</div>

									<div placement="bottom" triggers="hover"
										ngbPopover="Comentarios {{generalMetrics_.totalComments.value/(generalMetrics_.totalLikes.value + generalMetrics_.totalComments.value ) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-comment" role="progressbar"
										[ngStyle]="{'width': generalMetrics_.totalComments.value+'%'}">
									</div>



								</div>
								<div class="m--margin-top-35">
									<div class="row m--margin-bottom-10">
										<div class="col-9 col-xs-7">
											<div class="m-radio-list">
												<label class="m-radio m-radio--check-bold ">
													<input name="sentiment-radio" type="radio" value="1"
														(click)="selectGeneralMetrics('likes')" checked>
													<i
														class="m-menu__ver-arrow la la-thumbs-up m--margin-right-10 x--font-like"></i>
													Likes
													<span></span>
												</label>
											</div>
										</div>
										<div class="col-3 col-xs-5 m--align-center">
											<label
												class="x--font-like">{{generalMetrics_.totalLikes.value | shortNumber }}</label>
										</div>
									</div>
									<div class="row ">
										<div class="col-9 col-xs-7">
											<div class="m-radio-list">
												<label class="m-radio m-radio--check-bold ">
													<input name="sentiment-radio" type="radio" value="1"
														(click)="selectGeneralMetrics('comments')">
													<i
														class="m-menu__ver-arrow la la-comments m--margin-right-10 x--font-comment"></i>

													Comentarios
													<span></span>
												</label>
											</div>
										</div>
										<div class="col-3 col-xs-5 m--align-center">
											<label
												class="x--font-comment">{{generalMetrics_.totalComments.value | shortNumber }}</label>
										</div>
									</div>

						

								</div>
								<hr>
							</li>

							<li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight"
								routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
								aria-haspopup="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text x-menu--section-text">
										Reacciones
									</span>
								</span>
							</li>


							<li class="m-menu__section m--margin-top-20" *ngIf="reactions_ != undefined">
								<div class="progress">
									<div placement="bottom" triggers="hover"
										ngbPopover="Amor {{reactions_.reactionsLove.value/(reactions_.reactionsLove.value + reactions_.reactionsHaha.value + reactions_.reactionsWow.value+reactions_.reactionsSad.value+reactions_.reactionsAngry.value) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-love" role="progressbar"
										[ngStyle]="{'width': reactions_.reactionsLove.value+'%'}">
									</div>

									<div placement="bottom" triggers="hover"
										ngbPopover="Risa {{reactions_.reactionsHaha.value/(reactions_.reactionsLove.value + reactions_.reactionsHaha.value + reactions_.reactionsWow.value+reactions_.reactionsSad.value+reactions_.reactionsAngry.value) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-haha" role="progressbar"
										[ngStyle]="{'width': reactions_.reactionsHaha.value+'%'}">
									</div>

									<div placement="bottom" triggers="hover"
										ngbPopover="Sorpresa {{reactions_.reactionsWow.value/(reactions_.reactionsLove.value + reactions_.reactionsHaha.value + reactions_.reactionsWow.value+reactions_.reactionsSad.value+reactions_.reactionsAngry.value) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-wow" role="progressbar"
										[ngStyle]="{'width': reactions_.reactionsWow.value+'%'}">
									</div>


									<div placement="bottom" triggers="hover"
										ngbPopover="Tristeza {{reactions_.reactionsSad.value/(reactions_.reactionsLove.value + reactions_.reactionsHaha.value + reactions_.reactionsWow.value+reactions_.reactionsSad.value+reactions_.reactionsAngry.value) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-sad" role="progressbar"
										[ngStyle]="{'width': reactions_.reactionsSad.value+'%'}">
									</div>


									<div placement="bottom" triggers="hover"
										ngbPopover="Enojo {{reactions_.reactionsAngry.value/(reactions_.reactionsLove.value + reactions_.reactionsHaha.value + reactions_.reactionsWow.value+reactions_.reactionsSad.value+reactions_.reactionsAngry.value) | percent:'1.0-2'}}"
										class="progress-bar x--bg-fill-angry" role="progressbar"
										[ngStyle]="{'width': reactions_.reactionsAngry.value+'%'}">
									</div>
								</div>

								<div class="row m--margin-top-35 m--margin-bottom-10">
									<div class="col-md-12">
										<div class="row">
											<div class="col-9 col-xs-7">
												<div class="m-radio-list">
													<label
														class="m-radio m-radio--check-bold  m-list-pics m-list-pics--sm m-list-pics-rounded--sm">
														<input name="sentiment-radio" type="radio" value="1"
															(click)="selectReactions('love')">
														<a class="m--align-center d-inline-block ">
															<img src="assets/images/logo/reactions/love.png"
																class=" m--margin-right-10" title="">
														</a>
														Amor
														<span class="m--margin-top-5"></span>

													</label>
												</div>
											</div>
											<div class="col-3 col-xs-5 m--align-center">
												<label
													class=" x--font-love m--margin-top-5">{{reactions_.reactionsLove.value | shortNumber}}</label>
											</div>
										</div>

										<div class="row">
											<div class="col-9 col-xs-7">
												<div class="m-radio-list">
													<label
														class="m--margin-top-5 m-radio m-radio--check-bold m-list-pics m-list-pics--sm m-list-pics-rounded--sm">
														<input name="sentiment-radio" type="radio" value="1"
															(click)="selectReactions('haha')">
														<a class="m--align-center d-inline-block ">
															<img src="assets/images/logo/reactions/haha.png"
																class=" m--margin-right-10" title="">
														</a>
														Risa
														<span class="m--margin-top-5"></span>
													</label>

												</div>
											</div>
											<div class="col-3 col-xs-5 m--align-center">
												<label
													class="x--font-haha x-label-sentiment-reaction">{{reactions_.reactionsHaha.value | shortNumber}}</label>
											</div>
										</div>

										<div class="row">
											<div class="col-9 col-xs-7">
												<div class="m-radio-list">
													<label
														class="m--margin-top-5 m-radio m-radio--check-bold m-list-pics m-list-pics--sm m-list-pics-rounded--sm">
														<input name="sentiment-radio" type="radio" value="1"
															(click)="selectReactions('wow')">
														<a class="m--align-center d-inline-block ">
															<img src="assets/images/logo/reactions/wow.png"
																class=" m--margin-right-10" title="">
														</a>
														Sorpresa
														<span class="m--margin-top-5"></span>
													</label>

												</div>
											</div>
											<div class="col-3 col-xs-5 m--align-center">
												<label
													class="x--font-wow x-label-sentiment-reaction">{{reactions_.reactionsWow.value | shortNumber}}</label>
											</div>
										</div>
										<div class="row">
											<div class="col-9 col-xs-7">
												<div class="m-radio-list">
													<label
														class="m--margin-top-5 m-radio m-radio--check-bold  m-list-pics m-list-pics--sm m-list-pics-rounded--sm">
														<input name="sentiment-radio" type="radio" value="1"
															(click)="selectReactions('sad')">
														<a class="m--align-center d-inline-block ">
															<img src="assets/images/logo/reactions/sad.png"
																class="  m--margin-right-10" title="">
														</a>

														Tristeza
														<span class="m--margin-top-5"></span>
													</label>

												</div>
											</div>
											<div class="col-3 col-xs-5 m--align-center">
												<label
													class="x-label-sentiment-reaction">{{reactions_.reactionsSad.value | shortNumber}}</label>
											</div>
										</div>
										<div class="row">
											<div class="col-9 col-xs-7">
												<div class="m-radio-list">
													<label
														class="m--margin-top-5 m-radio m-radio--check-bold  m-list-pics m-list-pics--sm m-list-pics-rounded--sm">
														<input name="sentiment-radio" type="radio" value="1"
															(click)="selectReactions('angry')">
														<a class="m--align-center d-inline-block ">
															<img src="assets/images/logo/reactions/angry.png"
																class="x-margin-top--5  m--margin-right-10" title="">
														</a>
														Enojo
														<span class="m--margin-top-5"></span>
													</label>

												</div>
											</div>
											<div class="col-3 col-xs-5 m--align-center">
												<label
													class="x--font-angry x-label-sentiment-reaction">{{reactions_.reactionsAngry.value | shortNumber}}</label>
											</div>
										</div>

										<hr>
									</div>
								</div>
							</li>
							<li class="m-menu__section x--slider-section">


								<div class="row">
									<div class="col-md-12">
										<p class="x-text-center x-slider-selected-sort" [ngSwitch]="selectedSort">
											Filtrar Rango Por: &nbsp;
											<small class="x-text-center x--font-like"
												*ngSwitchCase="'likes'">Likes</small>
											<small class="x-text-center x--font-comment"
												*ngSwitchCase="'comments'">Comentarios</small>


											<small class="x-text-center x--font-love"
												*ngSwitchCase="'love'">Amor</small>
											<small class="x-text-center x--font-haha"
												*ngSwitchCase="'haha'">Risa</small>
											<small class="x-text-center x--font-wow"
												*ngSwitchCase="'wow'">Sorpresa</small>
											<small class="x-text-center x--font-sad"
												*ngSwitchCase="'sad'">Tristeza</small>
											<small class="x-text-center x--font-angry"
												*ngSwitchCase="'angry'">Enojo</small>


										</p>
										<div class="x-reactions-slider">
											<ion-range-slider #rangeReactionsSliderElement type="double" min="0" max="0"
												from="0" from_min="0" from_max="0" from_shadow="false" to="0" to_min="0"
												to_max="0" to_shadow="false" grid="false" drag_interval="true"
												min_interval="1" max_interval="0" prefix="" postfix=""
												decorate_both="true" (onFinish)="finishChangeSliderReactions($event)">
											</ion-range-slider>
										</div>
										<p class="x-text-center x-slider-selected-range m--margin-top-10"
											*ngIf="selectedRangeSliderFilterReaction != ''"
											[ngSwitch]="selectedRangeSliderFilterReaction">Seleccionado
											<br>
											<br>
											<a class=" btn  btn-action m-btn m-btn--icon btn-sm m-btn--icon-only  x-remove-btn reactions x--font-remove"
												triggers="hover" ngbPopover="Limpiar Rango"
												(click)="clearRangeSlider()">
												<i class="la la-remove"></i>
											</a>
											<small class="x-text-center x--font-like" *ngSwitchCase="'likes'">Likes:
											</small>
											<small class="x-text-center x--font-comment"
												*ngSwitchCase="'comments'">Comentarios: </small>


											<small class="x-text-center x--font-love" *ngSwitchCase="'love'">Amor:
											</small>
											<small class="x-text-center x--font-haha" *ngSwitchCase="'haha'">Risa:
											</small>
											<small class="x-text-center x--font-wow" *ngSwitchCase="'wow'">Sorpresa:
											</small>
											<small class="x-text-center x--font-sad" *ngSwitchCase="'sad'">Tristeza:
											</small>
											<small class="x-text-center x--font-angry" *ngSwitchCase="'angry'">Enojo:
											</small>
											<small> &nbsp; {{minValueRangeSliderReactions | shortNumber}} -
												{{maxValueRangeSliderReactions | shortNumber}} </small>

										</p>


									</div>
								</div>


							</li>




						</ul>
					</div>
				</div>
			</li>
			<!-- Regions -->
			<li style="opacity: 0.35" (click)="showMessage()" class="m-menu__item  m-menu__item--submenu  "
				data-redirect="true">
				<a href="#" class="m-menu__link m-menu__toggle ">
					<i class="m-menu__link-icon flaticon-map-location"></i>
					<span class="m-menu__link-text bottom-text-icon">
						Regiones
					</span>
				</a>
				<div class="m-menu__submenu">

				</div>
			</li>


			<!-- Content -->
			<li data-menu-submenu-toggle="hover" class="m-menu__item  m-menu__item--submenu "
				routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true"
				data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-multimedia"></i>
					<span class="m-menu__link-text bottom-text-icon bottom-text-icon">
						Contenido
					</span>
					<span class="m-menu__link-badge" *ngIf="sectionContentsActivated">
						<span class="m-badge badge-action">
						</span>
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<div class="m-menu__wrapper">

						<ul class="m-menu__subnav">
							<li class="m-menu__item  m-menu__item--parent" aria-haspopup="true" data-redirect="true">
								<span class="m-menu__link">
									<span class="m-menu__link-text">
										Tipo de contenido

									</span>
								</span>
							</li>
							<li class="m-menu__section">


								<div *ngIf="(cantText + cantAttachment )>=100 ">
									<div class="progress m--margin-top-10">

										<div aria-valuemax="100" placement="bottom" triggers="hover"
											ngbPopover="Adjunto {{cantAttachment/hits  | percent:'1.0-2'}}"
											class="progress-bar x--bg-fill-photo" role="progressbar"
											[ngStyle]="{'width': cantAttachment+'%'}">
										</div>

										<div aria-valuemax="100" placement="bottom" triggers="hover"
											ngbPopover="Texto {{cantText/hits  | percent:'1.0-2'}}"
											class="progress-bar x--bg-fill-status" role="progressbar"
											[ngStyle]="{'width': cantText+'%'}">
										</div>

									</div>
								</div>
								<div *ngIf="(cantText + cantAttachment) < 100 ">

									<div class="progress m--margin-top-10">

										<div aria-valuemax="100" placement="bottom" triggers="hover"
											ngbPopover="Adjunto {{cantAttachment/hits  | percent:'1.0-2'}}"
											class="progress-bar x--bg-fill-photo" role="progressbar"
											[ngStyle]="{'width': cantAttachment*100/hits+'%'}">
										</div>

										<div aria-valuemax="100" placement="bottom" triggers="hover"
											ngbPopover="Texto {{cantText/hits  | percent:'1.0-2'}}"
											class="progress-bar x--bg-fill-status" role="progressbar"
											[ngStyle]="{'width': cantText*100/hits+'%'}">
										</div>

									</div>
								</div>



							</li>
							<li class="m-menu__section">
								<div class="row m--margin-bottom-10">

									<div class="col-9 col-xs-7">
										<div class="m-radio-list">
											<label class="m-radio m-radio--check-bold ">
												<input name="type-content" type="radio" value="1"
													(click)="selectContentType('attachment')">
												<i
													class="m-menu__ver-arrow la la-image m--margin-right-10 x--font-photo"></i>
												Adjunto
												<span></span>
											</label>
										</div>
									</div>
									<div class="col-3 col-xs-5 m--align-center">
										<label class="x--font-photo">{{cantAttachment | shortNumber}}</label>
									</div>
								</div>
								<div class="row m--margin-bottom-10">

									<div class="col-9 col-xs-7">
										<div class="m-radio-list">
											<label class="m-radio m-radio--check-bold ">
												<input name="type-content" type="radio" value="1"
													(click)="selectContentType('text')">
												<i
													class="m-menu__ver-arrow la la-sticky-note-o m--margin-right-10 x--font-status"></i>
												Texto
												<span></span>
											</label>
										</div>
									</div>
									<div class="col-3 col-xs-5 m--align-center">
										<label class="x--font-status">{{cantText | shortNumber}}</label>

									</div>
								</div>










								<hr>
								<div class="row">

									<div class="col-9 col-xs-7">
										<div class="m-radio-list">
											<label class="m-radio m-radio--check-bold ">
												<input name="type-content" type="radio" value="1"
													(click)="selectContentType('all')" checked> Todos
												<span></span>
											</label>
										</div>
									</div>
									<div class="col-3 col-xs-5 m--align-center ">
										<label for="">{{cantAttachment+ cantText |shortNumber}}</label>

									</div>
								</div>

							</li>


						</ul>
					</div>
				</div>
			</li>
			<!-- Configurations -->
			<li data-menu-submenu-toggle="hover" class="m-menu__item  m-menu__item--submenu m-menu__item--bottom-1"
				routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon flaticon-settings"></i>
					<span class="m-menu__link-text">
						Configuraciones
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-2"
							routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"
							aria-haspopup="true">
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Ajustes
								</span>
							</span>
						</li>

						<li class="m-menu__item" aria-haspopup="true" data-redirect="true">
							<a href="#" routerLinkActive="active" routerLink="/configurations/profile"
								class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Perfil
								</span>
							</a>
						</li>

					</ul>
				</div>
			</li>

		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<div class="m-aside-menu-overlay"></div>
<!-- END: Left Aside -->

<div id="click-element"></div>